@import "../_variables.scss";

header {
  padding: 15px 25px;
  display: flex;
  justify-content: center;
  background: $main;
  color: $secondary;
  a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
  }
}
